<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>i18n with symfony/translation and Twig Templates</title>
</head>
<body>
<form method="get" action="{{ scriptName }}">
    <label for="language">{% trans %}selectLabel{% endtrans %}</label><br>
    <select name="locale" id="language">
        <option value="en-US">{% trans %}optionLabel{% endtrans %}</option>
        <option value="en-US">English</option>
        <option value="de-AT">Deutsch</option>
    </select><br>
    <label for="messages">{% trans %}messageLabel{% endtrans %}</label><br>
    <input type="number" id="messages" name="nrOfMessages"><br>
    <button type="submit">{% trans %}sendButton{% endtrans %}</button>
</form>

<p>{% trans %}welcome{% endtrans %}</p>

{% if nrOfMessages is defined and nrOfMessages != null %}
    {% if nrOfMessages == 0 %}
        {% trans %}messages.zero{% endtrans %}
    {% elseif nrOfMessages == 1 %}
        {% trans %}messages.one{% endtrans %}
    {% else %}
        {% trans with {'%d': nrOfMessages } %}messages.other{% endtrans %}
    {% endif %}
{% endif %}
</body>
</html>