<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tell Me Your Name</title>
</head>
<body>
<h1>Form Result</h1>
<p>The form was submitted by {{ name }}.</p>
</body>
</html>