<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loops</title>
    <meta charset="utf-8">
</head>
<body>
<h1>foreach-Loop</h1>
<h2>With Tags</h2>
<ul>
    {foreach $colors as $color}
        <li>{$color}</li>
    {/foreach}
</ul>

<h2>With n:attribute</h2>
<ul>
    <li n:foreach="$colors as $color">{$color}</li>
</ul>

<h1>for-Loop</h1>
<h2>With Tags</h2>
<ul>
    {for $i = 1; $i <= 3; $i++}
        <li>{$i}</li>
    {/for}
</ul>

<h2>With n:attribute</h2>
<ul>
    <li n:for="$i = 1; $i <= 3; $i++">{$i}</li>
</ul>
</body>
</html>